*{
    margin:0px;
}

body{
    background-color: rgb(30, 34, 44);
    padding-bottom: 150px; 
    padding-top: 100px;

    
}
nav{
    position: fixed;
    top:0px;
    right: 0px;
    left:0px;
    background-color: rgb(30, 34, 44);
    text-align: center;
    padding-bottom: 15px;
    padding-top: 5px;
    color: rgb(79, 235, 144);
    font-family:pacifico, 'Times New Roman', Times, serif;
    font-size: 25px;
    box-shadow: 0px 0px 6px rgba(255, 255, 255, 0.308);
    margin-bottom: 0px;

}

nav ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;

    


}
nav ul li{

    display: inline;
    float:right;
    margin-right: 80px;
    
}

#resume{
    display: block;
    padding: 12px;
    background-color: rgb(30, 34, 44);
    border: 2px solid rgb(79, 235, 144);
    margin-right: 5px;
    border-radius: 5px;
    color: white;
    margin-top: -40px;
    font-family:Oxygen, 'Times New Roman', Times, serif;
    font-size: 18px;
    

}
.js-sidebar{
    display: none;
}
.no-sidebar{
    display: none;
}
#contact{
    
    display: block;
    padding: 12px;
    background-color: rgb(30, 34, 44);
    border: 2px solid rgb(79, 235, 144);
    color: white;
    margin-left: 35px;
    border-radius: 5px;
    margin-top: -40px;
    font-family:Oxygen, 'Times New Roman', Times, serif;
    font-size: 18px;

}

#contact:hover{
    border:2px solid white;
    color: rgb(30, 34, 44);
    background-color: rgb(79, 235, 144);
    animation-name: fade;
    animation-duration: .5s;


}
#resume:hover{
    border:2px solid white;
    color: rgb(30, 34, 44);
    background-color: rgb(79, 235, 144);
    animation-name: fade;
    animation-duration: .5s;


}


@keyframes fade {
    0%{ background-color: rgb(30, 34, 44);
        border: 2px solid rgb(79, 235, 144);
        color: white;}
    100%{
        border:2px solid white;
        color: rgb(30, 34, 44);
        background-color: rgb(79, 235, 144);
    }
    
}





/* body container*/
.container {

    margin-top: -70px;
    margin-right: 0px;
    margin-left:0px;
    font-family: Oxygen;
    width: 100%;

}





.top-content{

    justify-content:space-between;
    display: flex;
    flex-flow: row wrap;
    margin-right: 130px;
    margin-left: 130px;



    
}
/*!!!!!!!!!!!!Greeting!!!!!!!!!!!!!!*/

.intro{
    margin-top: 80px;
    display:inline-block;
    vertical-align: top;

}
p{
    color: white;
    margin-right: 0px;
}


#greeting{
    font-size: 18px;
    color: white;
    margin-right: 12px;
}



big{
    font-size: 70px;
    color: rgb(79, 235, 144);
   
    font-family: pacifico;

}

hr{
    margin-top: 30px;
    border-color: rgb(79, 235, 144);
    border-radius: 15px;
 
}

#academic-info{
    margin-top: 25px;

    
}

#academic-info p{
    line-height: 23px;
    color: rgba(237, 237, 237, 0.611);
    font-size: 18px;

}

#link-button{
    margin-top: 20px;
    border:none;
    height: 40px;
    background-color: rgb(32, 32, 32);
    color:rgb(79, 235, 144);
    border: 1px solid rgb(79, 235, 144);
    border-radius: 5px;
    cursor: pointer;
    margin-right: 12px;
}
#link-button:hover{
    border:2px solid rgb(32, 32, 32);
    color: rgb(32, 32, 32);
    background-color: rgb(79, 235, 144);
    animation-name: fade-link;
    animation-duration: .5s;


}

@keyframes fade-link {
    0%{ background-color: rgb(30, 34, 44);
        border: 2px solid rgb(79, 235, 144);
        color: white;}
    100%{
        border:2px solid rgb(32, 32, 32);
        color: rgb(32, 32, 32);
        background-color: rgb(79, 235, 144);
    }
    
}


/* About me styles*/
.about-section{
 
    margin-top: 80px;
    max-width: 490px;
    
}

.about-paragraph {
    max-width: 100%;
    line-height: 27px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 18px;
}

#about-hr{
    margin-top: 0px;
    margin-bottom: 25px;
}






/* projects*/


#project-hr{
    margin-right: 130px;
    margin-left: 130px;
}

.bottom-content{
    justify-content:space-around;
    display: flex;
    flex-flow:wrap;
    margin-right: 130px;
    margin-left: 130px;
}



.card{
    background-color: rgb(45, 49, 85);
    width: 47%;
    margin: 10px;
    border-radius: 35px;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.25);
    border: 1px solid black;
    max-width: 536px;
    margin-top: 55px;
}
.card-img{
    background-color: rgb(79, 235, 144);
    height: 500px;
    border-radius: 35px 35px 0px 0px;
    margin-bottom: 15px;
    background-size:cover;
}

.card-1 {
    background-image: url(images/tourney.png);
}

.card-2 {
    background-image: url(images/secretsanta.PNG);
}

.card-3 {
    background-position: center;
    background-image: url(images/tillcount.PNG); 
}

.card-4 {
    background-position: center;
    background-image: url(images/portfolio.png); 
}

.card h2 {
padding:10px;
}

.card p {
padding: 10px;
color: rgb(182, 178, 178);
}

.stack{
    padding: 10px;
    margin-top: 15px;
    margin-bottom: 10px;
}
.github-div {
    margin-left: 15px;
    margin-bottom: 15px;
}

.card-title{
    display: inline-block;
    font-weight: bold;
    font-size: 35px;
    color: rgb(79, 235, 144);
}

.card-para{
    font-size: 20px;
}







/*Footer*/

footer{
    margin-top: 80px;
}
footer hr{
    opacity: .1;
}





















/*Sizing*/


@media only screen and (max-width:1350px){


    .card-img{
        background-color: rgb(79, 235, 144);
        height: 350px;
        border-radius: 35px 35px 0px 0px;
        margin-bottom: 15px;
        background-size:cover;
     
    
    }

    .about-section{
 
        margin-top: 80px;
        max-width: 100%;
        
    }
    hr{
        margin-top: 30px;
        border-color: rgb(79, 235, 144);
        border-radius: 15px;
        
    }

    .intro{
        margin-top: 80px;
        vertical-align: top;
        max-width: 100%;
    }

    
    .top-content{
        justify-content: center;
        margin-right: 90px;
        margin-left: 90px;
    }
    #project-hr{
        margin-right: 90px;
        margin-left: 90px;
    }
}

@media only screen and (max-width: 1096px){
 
    .bottom-content{

        margin-right: 25px;
        margin-left: 25px;
        
    
    }
    .top-content{
        justify-content: center;
        margin-right: 20px;
        margin-left: 20px;
    }
    #project-hr{
        margin-right: 20px;
        margin-left: 20px;
    }
    


}


@media only screen and (max-width: 820px){
    .card{
    width: 100%;
    max-width: 478px;
    }


}




@media only screen and (max-width:808px){
    nav ul{
        list-style-type: none;
        margin: 0px;
        padding: 0px;
    
        
    
    
    }
    nav ul li{
    
        display: inline;
        float:right;
        margin-right: 80px;
        
    }
    
    .hamburger-container {
     
        display: inline-block;
        position:fixed;
        left: 30px;
        cursor: pointer;
        top:20px;
        z-index: 2;
  
      }
      .hamburger-line-1, .hamburger-line-2, .hamburger-line-3{
        height:5px;
        width: 37px;
        background-color: aliceblue;
        margin-top: 7px;
        border-radius: 15px;
        box-shadow: 0px 0px 4px white;
        transition: -webkit-transform .15s, transform .05s;
      }
      .sidebar{
        height:100%;
        width: 300px;
        background-color: rgb(30, 34, 44);
        box-shadow: 0px 0px 12px rgba(255, 255, 255, 0.521);
        position:fixed;
        left: 0px;
        top: 0px;
        z-index: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        animation: slideRight .15s;
      }
      
      @keyframes slideRight {
        from{left:-500px}
        to{left:0px}
      }
  


        .slide-back-animation {
            animation: slideBack .15s;
        }
        
        @keyframes slideBack {
            from {
                left: 0px;
            }
        
            to {
                left: -500px;
            }
        }
  
  
      .sidebar-list{
        list-style-type: none;
        margin: 0;
        padding: 0;
        color: rgb(79, 235, 144);
        text-decoration: underline;
        text-decoration-color: white;
        line-height: 70px;
        font-size: 32px;
        font-family: arial;
      }
      .x-line-2{
        transform:rotate(-49deg) translateY(10px);
        -webkit-transform:rotate(-49deg) translateY(10px);
        transform-origin:10%;
        -webkit-transform-origin:10%;
        width: 35px;
  
  
      }
      .x-line-1{
        transform:rotate(44deg) translateX(5px);
        -webkit-transform:rotate(44deg) translateX(5px);
        transform-origin:30%;
        -webkit-transform-origin:30%;
        width: 36px;
      }
      .x-line-none{
        background-color:transparent;
        box-shadow: none;
  
      }
      .ham-anchor{
        text-decoration: none;
        color: rgb(79, 235, 144);
        font-family: Oxygen;
    
        
      }
      .ham-anchor:hover{
        text-decoration: underline;
        text-decoration-color: white;

      }




    #resume{
        display: none;
        padding: 12px;
        background-color: rgb(30, 34, 44);
        border: 2px solid rgb(79, 235, 144);
        margin-right: 5px;
        border-radius: 5px;
        color: white;
        margin-top: -40px;
        font-family:Oxygen, 'Times New Roman', Times, serif;
        font-size: 18px;
        float: left;
        margin-left: 80px;
        
    
    }
    #contact{
        
        display: none;
        padding: 12px;
        background-color: rgb(30, 34, 44);
        border: 2px solid rgb(79, 235, 144);
        color: white;
        margin-left: 35px;
        border-radius: 5px;
        margin-top: -40px;
        font-family:Oxygen, 'Times New Roman', Times, serif;
        font-size: 18px;
        float: right;
    
    }
    
    #contact:hover{
        border:2px solid white;
        color: rgb(30, 34, 44);
        background-color: rgb(79, 235, 144);
        animation-name: fade;
        animation-duration: .5s;
    
    
    }
    #resume:hover{
        border:2px solid white;
        color: rgb(30, 34, 44);
        background-color: rgb(79, 235, 144);
        animation-name: fade;
        animation-duration: .5s;
    
    
    }
    
    
    @keyframes fade {
        0%{ background-color: rgb(30, 34, 44);
            border: 2px solid rgb(79, 235, 144);
            color: white;}
        100%{
            border:2px solid white;
            color: rgb(30, 34, 44);
            background-color: rgb(79, 235, 144);
        }
        
    }
}

@media only screen and (max-width:530px){
    #resume{
        padding: 8px;
        margin-left: 19px;

    }
    
    #contact{
        padding: 8px;
        margin-right: 19px;

    }



}

@media only screen and (max-width:325px){
    big{
        font-size: 60px;
    }
    
}



