*{
    margin:0;
}

body{
    background-color: rgb(30, 34, 44);
    padding-bottom: 50px; 
    
}
nav{

    background-color: rgb(30, 34, 44);
    text-align: center;
    padding-bottom: 45px;
    padding-top: 15px;
    color: rgb(79, 235, 144);
    font-family:pacifico, 'Times New Roman', Times, serif;
    font-size: 25px;
    box-shadow: 0px 0px 6px rgba(255, 255, 255, 0.308);
    margin-bottom: 0px;

}

nav ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;

    


}
nav ul li{

    display: inline;
    float:right;
    margin-right: 130px;
    
}

#resume{
    display: block;
    padding: 18px;
    background-color: rgb(30, 34, 44);
    border: 2px solid rgb(79, 235, 144);
    margin-right: 5px;
    border-radius: 5px;
    color: white;
    margin-top: -40px;
    font-family:Oxygen, 'Times New Roman', Times, serif;
    font-size: 18px;
    

}
#contact{
    
    display: block;
    padding: 18px;
    background-color: rgb(30, 34, 44);
    border: 2px solid rgb(79, 235, 144);
    color: white;
    margin-left: 35px;
    border-radius: 5px;
    margin-top: -40px;
    font-family:Oxygen, 'Times New Roman', Times, serif;
    font-size: 18px;

}

#contact:hover{
    border:2px solid white;
    color: rgb(30, 34, 44);
    background-color: rgb(79, 235, 144);
    animation-name: fade;
    animation-duration: .5s;


}
#resume:hover{
    border:2px solid white;
    color: rgb(30, 34, 44);
    background-color: rgb(79, 235, 144);
    animation-name: fade;
    animation-duration: .5s;


}


@keyframes fade {
    0%{ background-color: rgb(30, 34, 44);
        border: 2px solid rgb(79, 235, 144);
        color: white;}
    100%{
        border:2px solid white;
        color: rgb(30, 34, 44);
        background-color: rgb(79, 235, 144);
    }
    
}





/* body container*/
.not-nav {

    margin-top: 1px;
    margin-right: 0px;
    margin-left:0px;
    font-family: Oxygen;
    width: 100%;

}





.top-content{

    justify-content:space-between;
    display: flex;
    flex-flow: row wrap;
    margin-right: 130px;
    margin-left: 130px;



    
}
/*!!!!!!!!!!!!Greeting!!!!!!!!!!!!!!*/

.intro{
    margin-top: 80px;
    
    display:inline-block;
    vertical-align: top;

}
p{
    color: white;
    margin-right: 0px;
}


#greeting{
    font-size: 18px;
    color: white;
    margin-right: 12px;
}



big{
    font-size: 70px;
    color: rgb(79, 235, 144);
   
    font-family: pacifico;

}

hr{
    margin-top: 30px;

    border-color: rgb(79, 235, 144);
    border-radius: 15px;
 
}

#academic-info{
    margin-top: 25px;

    
}

#academic-info p{
    line-height: 30px;
    color: rgba(237, 237, 237, 0.611);
    font-size: 18px;

    
}

/* picture*/

.personal-image{

    margin-left: 85px;
    margin-top: 80px;
    
    
}
.my-pic{
    height: 350px;
    border-radius: 5px;

    border: 2px solid rgb(79, 235, 144);
}


.bottom-content{
    justify-content:center;
    display: flex;
    flex-flow: row wrap;
    margin-right: 130px;
    margin-left: 130px;
    

}



.card{
    height: 810px;
    width: 500px;
    margin-right: 20px;
    margin-top: 50px;
    box-shadow: 0px 0px 12px rgba(50, 56, 71, 0.89);
    border: 1px solid rgba(75, 73, 73, 0.445);
    
}



.card-image {
    width: 100%;
    height: 405px;
    object-fit:cover;
    object-position:bottom;
    margin-bottom: 0px;
}

.info {
    background-color: rgb(45, 49, 85);
    margin-top: -5px;
    color:white;
    height: 405px;
    

}
.text{
    padding: 20px;
}


@media only screen and (max-width: 1181px){
    #contact{
        display: none;
    }

    #resume{
        display: none;
    }
}


@media only screen and (max-width: 856px){
    


    .top-content{
        justify-content: center;
        margin-right: 20px;
        margin-left: 20px;
    }
    .personal-image{

        margin-left: 0px;
        margin-top: 80px;
    }

    .bottom-content{

        margin-right: 0px;
        margin-left: 0px;
        
    
    }
    .card{

        margin-right: 20px;
        margin-left: 20px;


    }
}




